@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;500;700&display=swap');

:root {
  --black: #191919;
  --off-white: #e7e7e7;
  --white: #FFF;
}

* {
  margin: 0;
  padding: 0;
}